.mainFlex_all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.mainFlex_all-clients h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-weight: 100;
  font-size: 76px;
}

.mainFlex_all-clients {
  margin: 2rem 0 2rem 0;
}

.mainFlex_all-clients button {
  border: 2px solid #492d7e;
  text-align: center;
  font-size: 24px;
  font-weight: medium;
  letter-spacing: 2.6px;
  background: transparent;
  color: #492d7e;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.mainFlex_all-clients button:hover {
  background: #492d7e;
  color: #fff;
  transition: 199ms;
}

@media screen and (max-width: 580px) {
  .mainFlex_all {
    flex-direction: column;
    justify-content: center;
  }
}
/* import React from "react";
import { useState } from "react";
import "./project.css";

const Projects = () => {
  const [displayNum, setdisplayNum] = useState("?");
  const [myText, setmyText] = useState("Click me!");
  var i = 0;
  var m = 4;
  var n = 5;
  var o = 6;

  // clients Numbers lai--------------------------->>>>>>>>>>>>>>>
  function my_clientLoop(m) {
    setInterval(() => {
      if (i < m) {
        setdisplayNum(i);
        i++;
      }
    }, 399);
  }

  function my_clienttextfunc() {
    setmyText("Loading...");
    setTimeout(() => {
      setmyText("Clients");
    }, 1000);
  }

//   for completed projects ------------------------------->>>>>>> 
function my_completedLoop(n) {
    setInterval(() => {
      if (i < n) {
        setdisplayNum(i);
        i++;
      }
    }, 399);
  }

  function my_completedtextfunc() {
    setmyText("Loading...");
    setTimeout(() => {
      setmyText("Completed Projects");
    }, 1000);
  }


  return (
    <div className="mainFlex_all">
      <div className="mainFlex_all-clients">
        <h1>{displayNum}</h1>
        <button
          onClick={() => {
            my_clientLoop(m);
            my_clienttextfunc();
          }}
        >
          {myText}
        </button>
      </div>
    </div>
  );
};

export default Projects;
 */
